#doc_show.wrapper_with_padding
  %h1.title= @doc.title
  %p= @doc.content
 
  .buttons
    %p= simple_format(@doc.content)
    %div
      = link_to "Fix Doc", edit_doc_path(@doc), class: "button"
      = link_to 'Delete', @doc, data: { turbo_method: 'delete', turbo_confirm: "Are you sure" }, class: "button"
